/* =========================
   RESET
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button,
input,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input,
select {
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}
